<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
      OBJID="info:fcla/daitss/<%= @rep.ieid %>">
  
  <metsHdr CREATEDATE="<%= @rep.create_date.xmlschema %>">
    <agent ROLE="DISSEMINATOR" TYPE="ORGANIZATION">
      <name>FCLA</name>
      <note>tipr-1.0.0</note>
    </agent>
  </metsHdr>
  <% mynum = @rep.type=='ORIG'? 1 : 2 %>
  <amdSec>
    <digiprovMD ID="DPMD1">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="tipr-rep-<%= mynum %>-digiprov.xml"/>
    </digiprovMD>
  </amdSec>

  <fileSec>
    <fileGrp>
<% files = @rep.files.merge(@rep.global_files) %>
<% files.values.each_with_index do |e,i| %>
      <file ID="file-<%= i %>" OWNERID='info:fcla/daitss/<%= "#{@rep.package_id}" %>/representation/<%= "#{mynum}" %>/<%= e[:oid] %>' 
            CHECKSUM="<%= e[:sha_1] %>" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="files/<%= e[:path] %>"/>
      </file>
<% end %>
    </fileGrp>
    <fileGrp USE='METADATA'>
      <file ID="REP-DPMD" CHECKSUM="<%= @rep.digiprov[:sha_1] %>" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="tipr-rep-<%= mynum %>-digiprov.xml"/>
      </file>
    </fileGrp>
  </fileSec>
  
  <structMap>
    <div>
<% files.values.each_index do |i| %>
      <fptr FILEID="file-<%= i %>"/>
<% end %>
    </div>
  </structMap>

</mets>
