<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
      OBJID="<%= @rep.ieid %>"
      LABEL="<%= @rep.package_id %>">
  
  <metsHdr CREATEDATE="<%= @rep.create_date.xmlschema %>">
    <agent ROLE="DISSEMINATOR" TYPE="ORGANIZATION">
      <name>FCLA</name>
    </agent>
  </metsHdr>
  <% mynum = @rep.type=='ORIG'? 1 : 2 %>
  <amdSec>
    <digiprovMD ID="rep-<%= mynum %>-digiprov">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="tipr-rep-<%= mynum %>-digiprov.xml"/>
    </digiprovMD>
  </amdSec>
  <% if @rep.global_files.nil? %><!-- No global files in this package --><% end %>  
  <fileSec>
    <fileGrp>
<% @rep.files.each_with_index do |e,i| %>
      <file ID="file-<%= i %>" CHECKSUM="<%= e[:sha_1] %>" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="<%= e[:path] %>"/>
      </file>
<% end %>
    </fileGrp>
  </fileSec>
  
  <structMap>
    <div>
<% @rep.files.each_index do |i| %>
      <fptr FILEID="file-<%= i %>"/>
<% end %>
    </div>
  </structMap>

</mets>
